.jquery-spinner-wrap {
    position: fixed !important;
    z-index: 99999;
}

.navbar-brand {
    text-transform: uppercase;
}
.navbar-brand:hover {
    color: white !important;
}
.navbar-brand-wrapper:hover {
    background-color: #2349ef !important;
}

.sidebar > .nav .nav-item.nav-profile {
    margin-top: 0;
    margin-bottom: 0;
}

.page-title {
    width: inherit;
}

.card-title > .row > .col-md-12 > h4 {
    font-family: "roboto", sans-serif;
    font-weight: 500;
    color: #212229;
    margin-bottom: 15px;
    font-size: 14px;
    text-transform: capitalize;
}

.table-responsive {
    min-height: 180px;
}

.table td, .table th {
    font-size: 12px !important;
}

.btnAction {
    width: 3rem;
}

.btnAction2 {
    width: 6rem;
}

.btnAction3 {
    width: 250px;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #2196f3;
}

.text-xs {
    font-size: 10px;
}

.break-spaces {
    white-space: break-spaces !important;
}

.blink-me {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}
@media (min-width: 576px) {
    .hidden-sm-up {
        display: none !important;
    }
}

@media (max-width: 767px) {
    .hidden-sm-down {
        display: none !important;
    }
}

@media all and (max-width:480px) {
    .btn-block-md { width: 100%; display:block; }
    .no-float-sm { float: unset !important; }
 }  